<% -include("../includes/head") %>
</head>
<body>
    <main>
        <h1>Qualcosa non ha funzionato, riprova oppure chiedi a Davide</h1>
        <p><a href="/">Torna al sicuro</a></p>
    </main>

    <%- include("../includes/footer")%>