<div id="historyFields">
    <div>
        <label for="historySearch">Numero Carta:</label>  
    <input type="text" name="historyCard" id="historySearch">
</div>
<div>
    <label for="historyDateStart">Data inizio:</label>  
    <input type="date" name="historyDateFrom" id="historyDateStart">
</div>
<div>
    <label for="historyDateTo">Data fine:</label> 
    <input type="date" name="historyDateTo" id="historyDateEnd">
</div>
    <button id="searchHistory">Cerca</button>
</div>
<div id="divTable" >
<table id="historyTable" class="table table-striped">
    
</table>
</div>
</div>