<%- include("./includes/head") %>
<link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div id="container">
      <div id="navbar">
        <ul>
            <li>Carica</li>
            <li>Utilizza</li>
            <li>Storico</li>
        </ul>
      </div>
      <div id="body">
        <div>
        <input type="text" id="inputNumber" name="cardId"/> 
        <button id="searchCard" onclick="getCard()">Cerca</button>
        </div>
        <div id="infoCard">
        <h1 id="cardNumber">Attesa carta</h1>
        <h1 id="importo">0</h1>
      </div>
        <div>
          <input type="text" value="plus" id="typeCard">
          <input type="number" id="cifra">
          <button id="cifraBtn" onclick="chargeCard()">Carica</button>
        </div>
      </div>
    </div>
    <p>Ciao  <%=locals.uid%></p>
    <script src="/js/recharge.js"></script>
<%- include("./includes/footer") %>