<%- include("./includes/head") %>
<link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div id="container">
      <div id="navbar">
        <ul>
            <li>Carica</li>
            <li>Utilizza</li>
            <li>Storico</li>
        </ul>
      </div>
    </div>
    <p>Ciao  <%=locals.uid%></p>
<%- include("./includes/footer") %>