<%- include("./includes/head") %>
<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="./styles/history.css">
</head>
<body>
    <div id="container">
      <div id="navbar">
        <ul>
            <li id="btnNavCarica">Carica</li>
            <li id="btnNavScrica">Utilizza</li>
            <li id="btnNavStorico">Storico</li>
        </ul>
      </div>
      <div id="body">
        <label for="cardId" id="labelRicarica">Inserisci numero carta</label>
        <div id="findCardDiv">
        <input type="text" id="inputNumber" name="cardId"/> 
        <button id="searchCard" onclick="getCard()">Cerca</button>
        </div>
        <div id="infoCard">
        <h1 id="cardNumber">Attesa carta</h1>
        <h1 id="importo">0</h1>
      </div>
      <label id="labelCifra" for="cifra">Inserisci importo</label>
        <div id="rechargeDiv">
          <input type="text" value="plus" id="typeCard">
          <input type="number" id="cifra" max="" min="1">
          <button id="cifraBtn" onclick="chargeCard()">Carica</button>
        </div>
      </div>
      <div id="history">
        <%-include("./includes/history")%>
      </div>
    </div>
    <p>Ciao  <%=locals.username%></p>
    <span class="loader" id="spinner"></span>
    <script src="/js/recharge.js"></script>
    <script src="/js/getTransaction.js"></script>
    <script src="/js/findByParams.js"></script>
<%- include("./includes/footer") %>