<%-include("./includes/head")%>
</head>
<body>
    <div id="container">
        <form action="/auth/signin" method="POST" id="formSignin">
            <div class="formInput">
                <label for="username">Nome utente:</label>
                <input type="text" required id="username" name="username">
            </div>
            <div class="formInput">
                <label for="password">Password:</label>
                <input type="password" required id="password" name="password">
            </div>
            <div class="formInput">
                <button>Login</button>
            </div>
        </form>
    </div>
<%-include("./includes/footer")%>